<!DOCTYPE html>
<html>
<head>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="/resources/images/title.png" height="50">
            TabletManager</a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
            <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main">Список таблеток</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/administration">For adminka</a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0" action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input class="btn btn-danger" type="submit" value="Sign Out"/>
        </form>
    </nav>
    <div>Hello, user</div>
    {{#drugForUser}}
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="heading{{id}}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{id}}"
                                aria-expanded="false" aria-controls="collapse{{id}}">
                            {{drug.name}}
                        </button>
                    </h5>
                </div>
                <div id="collapse{{id}}" class="collapse" aria-labelledby="heading{{id}}"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            {{#quantityList}}
                                <li>
                                    {{expirationDate}} - {{quantity}}
                                </li>
                            {{/quantityList}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {{/drugForUser}}
</div>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>