<!DOCTYPE html>
<html>
<head>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>All Drugs</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="/resources/images/title.png" height="50">
            TabletManager</a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
            <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/drug/user/home">Гланая</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/drug/user/main">Список таблеток<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/administration">For adminka</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                        <input class="btn btn-danger" type="submit" value="Выход"/>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <form method="get" action="classification">
        <button class="btn btn-primary float-right mb-2" type="submit">Класификация по назначению</button>
    </form>

    <div class="form-inline mb-2" role="group">
        <form method="post" action="/drug/user/filter">
            <input class="form-control" type="name" name="filter">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button class="btn btn-primary mr-3" type="submit">Найти</button>
        </form>
        <form method="get" action="main">
            <button class="btn btn-primary" type="submit">Показать все</button>
        </form>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Инструкция</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        {{#page}}
            <tr>
                <td>{{name}}</td>
                <td><a href="{{instruction}}">инструкция</a></td>
                <form action="/drug/user/addr">
                    <input type="hidden" name="name" value={{name}}>
                    <input type="hidden" name="id" value={{id}}>
                    <td>
                        <button class="btn btn-outline-primary btn-sm" type="submit">добавить</button>
                    </td>
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/></form>
            </tr>
        {{/page}}
        </tbody>
    </table>
    <!-- ПАГІНАТОР-->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Страницы</a>
            </li>
            {{#pageDto}}
                <li class="page-item"><a class="page-link" href="{{url}}">{{number}}</a></li>
            {{/pageDto}}
        </ul>
    </nav>
</div>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>