<!DOCTYPE html>
<html>
<head>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>AddDrug</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container">
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input class="btn btn-danger" type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>{{name}}</div>
    <div>
        <form method="post" action="/drug/user/add">
            <input type="number" name="quantity" placeholder="Введите количество"/>
            <input type="date" name="expirationDate" placeholder="Введите дату"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button name="drugId" value={{id}} class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
</div>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>