<html>
<head>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Administration Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input class="btn btn-danger" type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>{{name}}</div>
    <div>
        <form method="post" action="/userDr">
            <input type="number" name="quantity" placeholder="Введите количество"/>
            <input type="date" name="expirationDate" placeholder="Введите дату"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button name="id" value={{id}} class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
</div>
</body>
</html>